@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(42, 42, 42);
}

/* sideNav and main content */

ul {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin: 0;
  display: inline-block;
  background-color: #374151;
  list-style-type: none;
}

li {
  border-bottom: 2px solid #1f3151;
}

.nav-a:hover {
  color: white;
}

.nav-a.active {
  color: white;
  background-color: #2d354385;
  /* Add any other styles you want for the active link */
}



a {
  font-size: 1.2rem;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}




.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  padding: 0;
  height: 100vh;
  /* added after monaco editor */
  /* overflow: hidden;  */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  a {
    font-size: 18px;
  }
}

/* grapesjs styles */

.gjs-editor-cont {
  height: 1035px;
}

.gjs-editor {
  height: 100vh;
}

/* Websites component */

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;

  .card {
    border: 2px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    height: 250px;
    width: 390px;
    text-align: center;
    background-color: #6366f1;
    margin: 20px;
    overflow: hidden;
    position: relative;

    .card-body {
      padding: 20px;

      .card-heading {
        font-size: 25px;
        font-weight: 600;
        padding: 9px;
      }

      .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        height: 105px;
      }
    }

    .card-button {
      height: 50px;
      background-color: #333453;
      position: absolute;
      bottom: 0;
      width: 100%;

      .card-image {
        height: 40px;
        position: relative;
        top: -36px;
        left: 282px;
      }
    }
  }
}

.card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.386), -10px -10px 10px rgba(255, 255, 255, 0.37);
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.386), -10px -10px 10px rgba(255, 255, 255, 0.37);
}

/* simmilar websites */

.sw-btn {
  /* border: 1px solid white; */
  width: 50%;
  height: 40px;
}

.sw-btn-active {
  background-color: #818181;
}

.sw-btn-link {
  display: inline;
  color: white;
  position: relative;
  left: 32%;
  height: 40px;
  background-color: #4446A6;
  border-radius: 7px;
}

/* autoprefixer */

.monaco-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.monaco-style {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  margin: 1rem;
  /* border-radius: 14px; */
}

.monaco-editor {
  margin-right: 0;
  height: 88%;
}

.monaco-result {
  height: 84%;
  margin-bottom: 20px;
}

.monaco-copy-btn {
  background-color: #6366f1;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}

.btn-disabled {
  background-color: #4446a6;
}